* {
    box-sizing: border-box;
}

:root {

    --mainColor: #4fa74f;
    --starColor: #fbbc04;
}

.bg-main {
    background: var(--mainColor);
}

.active {
    background-color: var(--mainColor);
    border-radius: 10px;
    color: antiquewhite !important;
}

.cursorPointer {
    cursor: pointer;
}

.textMain {
    color: var(--mainColor);
}

.starColor {
    color: var(--starColor);
}

.proudcts {

    border: solid 1px rgb(227, 227, 227);
    overflow: hidden;
    transition: all 0.3s,
        /* box-shadow: black 5px; */

}

.proudcts:hover {
    border: solid 1px var(--mainColor);
    box-shadow: black 0px 0px 3px;
}

.proudcts .btn {
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s;
}

.proudcts:hover .btn {
    transform: translateY(0%);
    opacity: 1;
}

.btn:hover {
    opacity: 1 !important;
    background: #2a582a;
}

.loader {
    width: 64px;
    height: 64px;
    position: relative;
    animation: rotate 1.5s ease-in infinite alternate;
}

.loader::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--mainColor);
    background: currentColor;
    width: 64px;
    height: 32px;
    border-radius: 0 0 50px 50px;
}

.loader::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 10%;
    background: #2a582a;
    width: 8px;
    height: 64px;
    animation: rotate 1.2s linear infinite alternate-reverse;
}



@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

a {

    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

a:hover {
    color: var(--mainColor);
}

.addFocus:focus {
    background-color: #fbbc04;
}